.entry-content section p {
   margin: 20px 5px;
   line-height: 1.4em;
 }
 
.entry-content section .content-table {
   font-size: 0.92em;
   border: 1px solid #999;
   padding: 2% 3%;
   border-radius: 3px;
}
.entry-content section h2 {
  background-color: #64C9FC;
  position: static;
}

.entry-content section .box1 {
   padding: 2% 3%;
   margin: 2em 0;
   font-weight: bold;
   border: 3px solid #FF3333;
   border-radius: 3px;
}